.footer {
  font-family: "Open Sans", sans-serif;
  background-color: #3d348b;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  color: fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  color: fff;
  margin: 20px;
}

.footer-section h3 {
  color: fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}
