.hero-section {
  background: linear-gradient(to top, #f7b801, #fff);
  padding: 100px 20px;
  color: #333;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.cta-button {
  font-family: "Open Sans", sans-serif;
  background-color: #c13450; /* White background */
  color: #f9e6e4; /* Text color matching the section background */
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  font-weight: 500;
  background-color: #ffc6ca; /* Light gray on hover */
  color: #000000; /* Maintain text color on hover */
}
